body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 60px;

}

.orange{
    color: orange;
}

.section-cont{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 30px;
}

.half-width img{
    width: 80%;
    padding-top: 55px;
    padding-left: 50px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
    color: white;

}
.para1{
    text-align: justify;
    margin-bottom: 30px;
}

.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
 #img2{
     padding-left: 5px;
     
 }
 .head2{
     font-size: 60px;
     padding-top: 20px;
 }
 h2{
     font-size: 40px;
 }
.div-a{
    padding-right: 30px;
}

.mid-bg{
background-image: url(image/dream-bg.png);
background-repeat: no-repeat;
background-position: right;

}
.m-movies{
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}
.movies-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 45px gray;
    border-radius: 15px;
}
.link-more{
    text-decoration: none;
    color: orange;
}

#border-sh{
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
.others-movie{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 30px;
}

footer{
    text-align: center;
    background-color: orange;
    color: white;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
}